.favourite-list-item{
    justify-content: space-between;
    min-height: 0px;
    width: 100%;
    display: flex;
    margin: 20px;
    font-family: Arial;
    box-shadow:inset 5px 5px 5px 0 rgba(0,0,0,.5), 
    inset -5px -5px -5px 0 rgba(255,255,255,0.5);
}

.favourite-list-item__title{
    font-size: 26px;
}

.favourite-list-item__tagline{
    color: gray;
    font-size: 12px;
}

.favourite-list-item__description{
    font-size: 12px;
    width: 90%;
    padding: 20px 0px 20px 0px;
}

.favourite-list-item__button{
    background-color: transparent;
    border: none;
    padding: 0px 10px 0px 0px;
    text-transform: uppercase;

}

.favourite-list-item__image{
    width: auto;
    height: 150px;
}
