.beers-list-item {
    display: flex;
    flex-direction: column;
    width: 32%;
    min-height: 0;
    margin: 5px auto;
    padding: 5px;
    color: #ffffff;
    font-family: 'Lucida Sans', sans-serif;
}

.beers-list-item__image {
    width: auto;
    height: 140px;
    margin: 0 auto;
}

.beers-list-item__title {
    padding: 10px 0;
    font-size: 26px;
}

.beers-list-item__tagline {
    display: block;
    font-size: 16px;
}

.beers-list-item__information {
    position: relative;
    height: 50%;
    padding: 10px;
    background-color: #808080;
}

.beers-list-item__open-details-page-button,
.beers-list-item__favourite-button {
    color: #ffffff;
}
