.favourite-list-item {
    display: flex;
    justify-content: space-between;
    min-height: 0;
    margin: 20px;
    padding: 10px;
    font-family: 'Lucida Sans', sans-serif;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.favourite-list-item__title {
    font-size: 26px;
}

.favourite-list-item__tagline {
    padding: 10px 0;
    color: #808080;
    font-size: 12px;
}

.favourite-list-item__description {
    width: 90%;
    padding: 20px 0;
    font-size: 14px;
}

.favourite-list-item__button {
    padding: 0 10px 0 0;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

.favourite-list-item__image {
    width: auto;
    height: 150px;
}
