.header{
    background-color: #106cc8;
    display: flex;
}

.header__title{
    font-size: 20px;
    margin: auto 0px auto 0px;
    color: white;
}

.header__button{
    background-color: transparent;
    border: none;
    padding: 10px;
}
