.brewing-method-block {
    width: 40%;
}

.brewing-method-block__title {
    margin: 10px 0;
    font-size: 25px;
    font-family: 'Lucida Sans', sans-serif;
}

.brewing-method-block__subtitle {
    margin: 5px 0;
    font-size: 20px;
    font-family: 'Lucida Sans', sans-serif;
}

.brewing-method-block__mash,
.brewing-method-block__fermentation,
.brewing-method-block__twist {
    font-size: 16px;
    font-family: 'Lucida Sans', sans-serif;
}
