@import 'styles/mixins.scss';

.beer-property-item {
    @include list-item-border;

    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

.beer-property-item:not(:first-child) {
    @include no-top-border;
}

.beer-property-item__acronym {
    width: 10%;
    margin: auto 0;
    font-family: 'Lucida Sans', sans-serif;
}

.beer-property-item__property-value {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 7%;
    padding: 7px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Lucida Sans', sans-serif;
    text-align: center;
    background-color: #8a8a8a;
    border-radius: 20px;
}

.beer-property-item__info-icon {
    width: 20px;
    height: 20px;
    margin: auto 10px;
}

.beer-property_item__name--visible {
    display: inline;
    margin: auto 0;
    font-family: 'Lucida Sans', sans-serif;
    border-bottom: 1px #8a8a8a solid;
}

.beer-property_item__name--hidden {
    display: none;
}
