.favourite-list{
    margin: 0 auto 0 auto;
    flex-wrap: wrap;
    width: 50%;
}

.favourite-list__title{
    font-size: 30px;
    font-family: 'Lucida Sans';
    margin: 20px auto 20px auto;
    text-align: center;
}

.paging-panel{
    display: flex;
    border: 1px #106cc8 solid;
    border-radius: 5px;
    width: fit-content;
    color:#106cc8;
    margin: 10px auto 20px 20px;
}

.paging-panel__item{
    background-color: transparent;
    padding: 10px;
    border: 1px #106cc8 solid;
}