.brewing-method {
    width: 40%;
    font-size: 16px;
    font-family: 'Lucida Sans', sans-serif;
}

.brewing-method__title {
    margin: 10px 0;
    font-size: 25px;
}

.brewing-method__subtitle {
    margin: 5px 0;
    font-size: 20px;
}
