.searchSection__searchSlider{
    justify-content:center;
    display: flex;
    width: 100%;
}
.searchSection__rangeSlider{
    width: 40%;
}

.searchSection__searchSlider_title{
    font-family: 'Lucida Sans';
    font-size: 16px;
    width: 50%;
}

.searchSection__searchSlider-value{
    font-size: 20px;
}