@import 'styles/mixins.scss';

.brewing-ingredients {
    width: 50%;
}

.brewing-ingredients__title {
    margin: 10px 0;
    font-size: 25px;
    font-family: 'Lucida Sans', sans-serif;
}

.brewing-ingredients__subtitle {
    margin: 5px 0;
    font-size: 20px;
}

.brewing-ingredients__ingredient {
    @include list-item-border;

    padding: 10px;
    font-size: 16px;
    font-family: 'Lucida Sans', sans-serif;
}
