.beer-property {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-bottom: 1px #8a8a8a solid;
}

.beer-property__name {
    font-family: 'Lucida Sans', sans-serif;
}

.beer-property__info-icon {
    width: 20px;
    height: 20px;
}
