.brewing-ingredients-block {
    width: 50%;
}

.brewing-ingredients-block__title {
    margin: 10px 0;
    font-size: 25px;
    font-family: 'Lucida Sans', sans-serif;
}

.brewing-ingredients-block__subtitle {
    margin: 5px 0;
    font-size: 20px;
    font-family: 'Lucida Sans', sans-serif;
}

.brewing-ingredients-block__water-value,
.brewing-ingredients-block__malt-list,
.brewing-ingredients-block__hops-list,
.brewing-ingredients-block__yeast-value {
    font-size: 16px;
    font-family: 'Lucida Sans', sans-serif;
}

.brewing-ingredients-block__ingredient {
    padding: 10px;
    border: 1px #a0a0a0 solid;
}

.brewing-ingredients-block__ingredient:not(:first-child) {
    border-top: none;
}
