.favourite-button {
    padding: 10px;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
}

.favourite-button--on-beers-list {
    background-color: transparent;
}

.favourite-button--on-beer-details-header {
    background-color: #106cc8;
}
