.beer-properties-block__list {
    display: flex;
    flex-direction: column;
}

.beer-properties-block__title {
    margin: 10px auto;
    font-size: 30px;
    font-family: 'Lucida Sans', sans-serif;
}

.beer-properties-block {
    width: 40%;
}
