.user-preference-section__header {
    padding: 10px 0;
    font-size: 25px;
    font-family: "Lucida Sans", sans-serif;
    text-align: center;
}

.user-preference-section__field {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.user-preference-section__field-title {
    padding: 0 5px;
    font-family: "Lucida Sans", sans-serif;
}

.user-preference-section__field-input {
    padding: 5px;
    border: 1px #106cc8 solid;
    border-radius: 5px;
}

.user-preference-section__add-button {
    width: 7%;
    background-color: transparent;
    border: none;
}

.user-preference-section__add-button-icon {
    width: 15px;
    height: 15px;
}

.user-preference-section__autocompletion-results {
    position: absolute;
    width: 100%;
}

.user-preference-section__autocompletion-results-item {
    padding: 5px;
    font-family: "Lucida Sans", sans-serif;
    background-color: #ffffff;
    border: 1px #106cc8 solid;
}
