.brewing-methods {
    width: fit-content;
    font-size: 16px;
    font-family: 'Lucida Sans', sans-serif;
}

.brewing-methods__title,
.brewing-methods__method-title {
    margin: 10px 0;
    font-size: 25px;
}

.brewing-methods__subtitle,
.brewing-methods__method-subtitle {
    margin: 5px 0;
    font-size: 20px;
}
