.beers-list-item{
    margin: 5px auto;
    color: white;
    min-height:0;
    display: flex;
    padding: 5px;
    font-family: 'Lucida Sans';
    flex-direction: column;
    width: 32%;
}

.beers-list-item__image{
    margin: 0 auto;
    width: auto;
    height: 140px;
}

.beers-list-item__title{
    font-size: 26px;
    padding: 10px 0;
}

.beers-list-item__tagline{
    display: block;
    font-size: 16px;
}

.beers-list-item__information{
    height: 50%;
    background-color: gray;
    padding: 10px;
    position: relative;
}

.beers-list-item__button{
    background-color: transparent;
    border: none;
    padding: 20px 10px 10px 0px;
    text-transform: uppercase;
    color: white;
    :focus{
        border: none;
    }
}