@use 'styles/common.scss';

.SideMenu__item{
    color: gray;
    font-family: 'Lucida Sans';
    padding: 10px 0px 10px 10px;
    display: flex;

    :hover{
        color: #106cc8;
        fill: #106cc8;
    }
}

.SideMenu__item-text{
    height: 2em;
    line-height: 2em;
}

.SideMenu__item-icon{
   height: 25px;
   width: 25px;
}
