.side-menu-item{
    font-family: 'Lucida Sans';
    display: flex;
    align-content: center;
    padding: 10px;
    :hover{
        color: #106cc8;
        fill: #106cc8;
    }
}


.side-menu-item__text{
   overflow: hidden;
    text-align: center;
    margin: auto 0 auto 10px;
}

.side-menu-item__icon{
   height: 25px;
   width: 25px;
}
