@import 'styles/mixins.scss';

.brewing-ingredients-block {
    width: 50%;
}

.brewing-ingredients-block__title {
    margin: 10px 0;
    font-size: 25px;
    font-family: 'Lucida Sans', sans-serif;
}

.brewing-ingredients-block__subtitle {
    margin: 5px 0;
    font-size: 20px;
}

.brewing-ingredients-block__ingredient {
    @include list-item-border;

    padding: 10px;
    font-size: 16px;
    font-family: 'Lucida Sans', sans-serif;
}

.brewing-ingredients-block__ingredient:not(:first-child) {
    @include no-top-border;
}
